.header {
    background-image: url('../images/header_background.png');
    background-color: #17181c;
    width: 100%;
    height:230px;
    background-size:cover;
    background-position:bottom;
div {
    padding-top:80px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    
    nav {
        ul {
            list-style-type: none;
            color:white;
            display:flex;
            flex-direction:row;
            gap:70px;
            li {
                font-weight: bold;
                font-size: 18px;
                line-height: 28px;
                color: #ffff;
                text-shadow: 1px 1px 2px #b8bdc9;
            }
        }
        border-bottom:1px solid white;
    }
}


}